.service-cart{
      border: 1px solid #ddd;
}
.service-name{
      width: 100%;
      padding: 7px 0;
      background-color: #282F3D;
}
.service-price{
      background-color: rgba(221, 221, 221, 0.557);
}
.service-price > h1{
     font-size: 50px;
}
.service-price > h1 > span{
     font-size: 20px;
     color: #fb5200;
}